@model BTRS.Models.Bus

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Bus</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BusID" />
            <div class="form-group">
                <label asp-for="CaptinName" class="control-label"></label>
                <input asp-for="CaptinName" class="form-control" />
                <span asp-validation-for="CaptinName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfSeats" class="control-label"></label>
                <input asp-for="NumberOfSeats" class="form-control" />
                <span asp-validation-for="NumberOfSeats" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">BusTripID</label>>
                <select name="BusTripID" id="BusTripID">
                    @for (int i = 0; i < ViewBag.BusTrip.Count; i++)
                    {
                        <option value="@ViewBag.BusTrip[i].BusTripID">@ViewBag.BusTrip[i].BusTripID</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
